/* CSS files add styling rules to your content */

button{
  font-size: 16px;
  background-color: #DA4541; 
  color: white;
  border-radius: 8px;
  transition-duration: 0.4s;
  border: 2px solid #C7302C;
  padding: 14px 40px;
}

button:hover {
  background-color: white;
  color:#C7302C; 
}

h1{
  top:0px;
  font-family:'Bebas Neue', cursive;
  font-size: 40px;
  letter-spacing: 2px;
  color:#C7302C; 
  padding: 10px;
  border-radius: 5px 5px 0 0;
  text-align:center;
}

.click{
  margin-top: 10%;
  margin-left: 15%;
}

.clear{
  margin-top: 10%;
  margin-left: 15%;
}

img {
  position: absolute;
  width: 20%;
  height: 40%;
}